*customization: -color
xterm*termName: xterm-256color

xterm*background: #000000
xterm*foreground: #a8a8a8

xterm*faceName: Inconsolata
xterm*faceSize: 8

xterm*pointerMode: 0

Xcursor.theme: Oxygen_White
Xcursor.size: 48

